body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #fff;
  max-width:800px;
  margin:auto;
}

td, tr, th { padding: 1px 10px; text-align:left; }

p { margin-bottom:8px; }

small { font-size:11px; }

#header {
    padding:10px 0px;   
}

#header #logo {
    float:left;
    font-size:18px;
}

#header #topnav {
    text-align:right;
    font-size:12px;
}

#nav {
    border-top:1px solid #36C;
    background:#E5ECF9;
    font-size:12px;
    padding:4px 10px;
    margin-top:6px;
    margin-bottom:10px;   
}

#content {
    font-size:14px;
    margin-top:20px;
    padding:0px 20px;
}