h2 {
    font-size:18px;
    margin-bottom:20px; 
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #fff;
  max-width:800px;
  margin:auto;
}

td, th { padding: 2px 10px; text-align:left; }
tr.even { background:#EFF5FF; }
tr.odd  { }

hr { 
    border:0px solid white;
    border-top:1px solid lightgray;
    margin-top:8px;
    margin-bottom:8px;
}

#feedlist td {
    padding:4px 20px;    
}

p { margin-bottom:8px; }

small { font-size:11px; }

#header {
    padding:10px 0px;   
}

#header #logo {
    float:left;
    font-size:18px;
}

#header #topnav {
    text-align:right;
    font-size:12px;
}

#nav {
    border-top:1px solid #36C;
    background:#E5ECF9;
    font-size:12px;
    padding:4px 10px;
    margin-top:6px;
    margin-bottom:10px;   
}

#content {
    font-size:14px;
    margin-top:20px;
    padding:0px 30px;
}

#footer {
    margin-top:60px;
    text-align:center;
    font-size:12px;
    color:gray;
}
    


/* Specific Styles */
#addfeed_main {
    margin-top:40px;   
}