<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/reset.css" />
        <link type="text/css" rel="stylesheet" href="/static/main.css" />

    	<title>Feedserv.com - RSS delivered via email - Open source</title> 

        <meta name="description" content="Feedserf.com delivers your RSS feeds via email. Free, easy, open source." /> 
    	<meta name="keywords" content="rss, feed, email, feed mailer, open source, agpl" /> 
	
<!--        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>    
-->    </head>
    
    <body>
        <div id="header">
            <div id="logo" style="">
                <div style="float:left; padding-top:2px; border:0px solid red;"><a href="/">Feedserf</a> <font style="font-size:11px; padding-left:30px;">Free. Easy. Open Source.</font></div>                
            </div>
            <div id="topnav" style="">
                {% if user %}
                    <b>{{ user.email }}</b> &nbsp;|&nbsp; <!--<a href="/account">My Account</a> &nbsp;|&nbsp; --><a href="/help">Help</a> &nbsp;|&nbsp; <a href="/signout">Sign out</a>
                {% else %}
                    <a href="/help">Help</a> &nbsp;|&nbsp; <a href="/signin">Sign in</a>                
                {% endif %}
            </div>
        </div> 

        <div id="nav">
        
            <div style="float:left; padding-top:0px;"><iframe style="height:26px;" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.feedserf.com%2F&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></div>
            <div style="text-align:right; font-size:11px; margin-top:1px;">
                <form action="/feeds" method="post">
                    Feed: <input type="text" name="uri" style="border:1px solid lightgray; height:18px; margin:0px; padding:0px; font-size:12px;" /> 
                    <input type="submit" style=" height:17px; width:30px; margin:0px; padding:0px; font-size:10px;" value="add" />
                </form>
            </div>
        </div>
        
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        {% comment %}
        <div id="footer">
            <hr>
            feedserf.com is free software<br><a href="#">source on github</a>
        </div>
        {% endcomment %}

        <script type="text/javascript" src="/static/analytics.js"></script>
    </body>
</html>

