<html>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <body>
    <h3>Hi {{ username }}</h3>
    
    <a href="{{ url }}">{{ url_linktext }}</a>

    <hr>
    
    <p>
    Add a feed:
    <form action="/feeds" method="post">
        URL: <input type="text" name="uri" /> <input type="submit" />
    </form>
    </p>
    
    <hr>

    <h2>Your Feeds</h2>
    
    <p>
    <ul>
        {% for feed in feeds %}
          <li>{{ feed.title }}</li>
        {% endfor %}
    </ul>
    </p>

  </body>
</html>