{% extends "base.html" %}
{% block content %}

    <div style="height:14px;">
        <h3>Delete Feed</h3>
    </div>
    <hr>
    
    <table border="0">
    <tr><td valign="top">
    
    <table border="0" id="feedsettings">
      <tr><td>Feed:</td><td><a href="{{ feed.link_rss }}">{{ feed.title }}</a></td></tr>
      <tr><td>Date added:</td><td>{{ feed.date_added|date }}</td></tr>
    </table>

    <br>
    <form action="/feeds/delete/{{ feed.key }}" method="post">
        <p>Do you really want to remove this feed?</p>
        <br>
        <input type="submit" name="delete" value="Yes, remove feed" /> <input type="submit" name="cancel" value="No, thanks" />  
    </form>      

    </td><td style="width:40px;">&nbsp;</td><td valign="top">
    </td></tr>
    </table>
{% endblock %}