<html>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <body>
    <h3>Hello, {{ user.nickname }}</h3>
    
    <a href="{{ url }}">{{ url_linktext }}</a>

    <hr>

    <h3>Feed Settings</h3>
    
    <table border="0">
        <tr><th>Feed</th><th>Date added</th><th>Last Crawled</th><th>New Entries</th><th>Digest</th></tr>
          <tr>
            <td><a href="{{ feed.link_rss }}">{{ feed.title }}</a></td>
            <td>{{ feed.date_added }}</td>
            <td>{{ feed.date_last_crawled }}</td>
            <td>{{ feed.feeditemnew_set.count }}</td>
            <td>{{ feed.digest_type }} <small>[<a href="/feeds/update/{{ feed.key }}">update</a>]</td>
          </tr>
    </table>

  </body>
</html>