{% extends "base.html" %}
{% block content %}    
<br>        
    <table border="0">
        <tr><th>Feed</th><th>Date added</th><th>Last Crawled</th><th>New Entries</th><th>Digest</th></tr>
        {% for feed in feeds %}
          <tr>
            <td><a href="/feeds/update/{{ feed.key }}">{{ feed.title }}</a></td>
            <td>{{ feed.date_added|date }}</td>
            <td>{{ feed.date_last_crawled|date }}, {{ feed.date_last_crawled|time }}</td>
            <td>{{ feed.feeditemnew_set.count }}</td>
            <td>{% ifequal feed.digest_days 0 %}Instant{% else %}{{ feed.digest_time|time }}, {{ feed.digest_days }}{% endifequal %}</td>
            <td><small><a href="{{ feed.link_rss }}">link</a></td>
          </tr>
        {% endfor %}    
    </table>

{% endblock %}
