{% extends "base.html" %}
{% block content %}    
<h2>Help</h2>

<p>Feedserf.com is a free RSS-to-Email service.

You can add as many feeds as you want, and new items will be delivered 
by email either instantly or at custom defined times and days.</p>

<p>The source code for this website is free software under the APGL
license, and hosted on <a href="https://github.com/metachris/feedmailer">
github.com</a>.

For feedback, ideas and comments please drop me a line at 
<a href="mailto:chris@metachris.org">chris@metachris.org</a>.
</p>

<p>Improvements and patches are very welcome. The user interface could
definitely need some love, too. Let me know if you have any ideas! :)
</p> 
{% endblock %}
